/* Center all elements */
* {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Add some colors */
body {
    background-color: #4e4e4e;
}

h1 {
    color: #ffffff;
}

#convert-btn {
    background-color: #da5757;
    color: #ffffff;
    
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#convert-btn:hover {
    background-color: #a63e3e;
}

#convert-btn:active {
    transform: scale(0.95);
}
#output {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #da5757;
    color: #ffffff;
}

